/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-image: url("/img/blackjack_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/*Properties*/
:root {
    --color-background-navbar: black;
    --color-text-navbar: white;
    --color-text: white;
    --font-size-text: 16px;
}

/*Navbar*/
nav {
    display: flex;
    justify-content: center;
}
.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-background-navbar);
    color: var(--color-text-navbar);
    margin: 0.4em;
    border-radius: 10px;
    gap: .5em;
}
.navbar-container a {
    background-color: green;
    padding: 0.5em;
}

.text {
    color: var(--color-text);
    font-size: var(--font-size-text);
}
.heading {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-text);
}

/*Home Page*/
.home-page-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
}
.home-page-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.home-page-card:hover {
    cursor: pointer;
}
.home-page-card img {
    width: 100%;
    height: 100%;
}
.home-page-card-title {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.home-page-card-details {
    position: absolute;
    top: 55px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
}
.home-page-card:hover .home-page-card-details {
    opacity: 100;
}
.home-page-card:hover img {
    filter: blur(4px);
    transition: filter 0.3s;
}
/*Home Page End*/
